body {
    font-family: Arial;
    background-image: url("./assets/indexBackground.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vh;
    color: white;
}

.left {
    left: 3vh;
    width: 512px;
}

.right {
    right: 10vh;
}

.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#recordTable {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid gray;
	border-collapse: collapse; 
}
#recordTable th {
	font-weight: bold;
	padding: 5px;
	background: gray;
	border: 1px solid #dddddd;
}
#recordTable td {
	border: 1px solid #dddddd;
	padding: 5px;
    text-align: center;
}

button {
    border: 1px solid white;
    padding: 15px 20px;
    margin-top: 3vh;
    margin-left: 8vw;
    border-radius: 20px;
    background: transparent;
    cursor: pointer;
    outline: none;
    color: white;
}

button:hover{
    background-color: gray;
}